
@import './test.less';
@font-face {
  /* 定义字体库名字 后面好用 */
  font-family: 'iconfont';
  /* 这是个二进制trueType文件 */
  src: url('../font/iconfont.ttf') format('trueType'); 
}



body {
  background-color: #ccc;
}

.icon {
  /* 使用上面的字体库名字 */
  font-family: 'iconfont';
  font-size: 60px;
}